
includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
	level: 8
	paths:
		- %currentWorkingDirectory%/src
		- %currentWorkingDirectory%/tests

	ignoreErrors:
		# https://github.com/phpstan/phpstan/issues/4078
		-
			message: "#^Method Tests\\\\Repositories\\\\TheaterRepositoryTest\\:\\:createTargetReflection\\(\\) return type with generic class Cinemasunshine\\\\ORM\\\\Repositories\\\\TheaterRepository does not specify its types\\: TTheaterEntity#"
			path: tests/Repositories/TheaterRepositoryTest.php
			count: 1
